$color_1: white;
$color_2: #ff6060;
$font-family_1: Montserrat;
$background-color_2: #F7F7F7;


.hide {
	display: none;
   }
   .show {
	   display: block;
   }

#collapse_Container {
	width: 100%;
	margin: 0 auto;
		@media (max-width: 899px) {
		}
	.banner {
		background-image: url('../assets/bannerCollapse.png');
		@media (max-width: 899px) {
		}
	}
	#aboutUs_container {
		display: flex;
		justify-content: center;
		ul {
			padding-left: 0;
			width: 72%;
			margin: 0 auto;
			@media (max-width: 899px) {
				width: 88%;
			}
			.listCollapse_title {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				height: 52px;
				padding: 0 20px;
				background-color: $color_2;
				color: $color_1;
				border-radius: 5px;
				margin: 25px auto 0;
				@media (max-width: 899px) {
					height: 30px;
				}
			}
			
				h3 {
					font-family: $font-family_1;
					font-size: 24px;
					font-weight: 500;
					text-align: left;
					margin-bottom: 0;
					@media (max-width: 899px) {
						width: 293px;
						font-size: 13px;
						line-height: 19px;
						letter-spacing: 0em;
					}
				}
				svg {
					width: 36px;
					height: 36px;
					@media (max-width: 899px) {
						width: 16px;
						height: 16px;
					}
				}
		}

		.listCollapse_content {
			margin: 0 0 20px 0;
			background-color: $background-color_2;
			border-radius: 5px;
			p {
				padding: 20px;
				color: $color_2;
				font-size: 18px;
				font-family: Montserrat;
				font-weight:lighter;
				line-height: 29px;
				letter-spacing: 0em;
				text-align: left;
				@media (max-width: 899px) {
					font-size: 12px;
				}
			}
		}
	}
}









